.homepage
    width: 100%
    
.carousel-div
    height: 90vh
    position: relative
    clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%)
    @include header-carousel-hv
    
.shop-link
    position: absolute
    z-index: 10
    top: 65%
    left: calc(50% - 8.0765rem)

.shop-btn
    @include buttons
    
.about
    @include font-oswald
    padding: 3% 5%
    @include flex-column
    @include centerVerticalAndHorizonal

.about-info-pic
    display: flex
    justify-content: space-evenly
    align-items: center
    padding-bottom: 3%

    @media (max-width: 100rem)
        flex-direction: column
        justify-content: center

.about-info
    @include hidden
    @include flex-column
    @include centerVerticalAndHorizonal
    margin-right: 2rem

    @media (max-width: 100rem)
        margin: 0 5% 3%

.about-title
    @include navbar-gradient
    @include titleSizeAndClip
    font-size: 5rem
    text-transform: uppercase
    padding-bottom: 2rem
    text-align: center

.about-p
    color: white
    font-size: 3rem
    padding-bottom: 3rem

.about-img
    @include hidden
    width: 40%
    border-radius: 50%
    // clip-path: polygon(12.5% 0, 100% 0, 100% 90%, 87.5% 100%, 0 100%, 0 10%)
    
    @media (max-width: $mediaWidth)
        width: 90%
// .hidden
//     @include hidden

.active
    opacity: 1

.fade-left-1s
    @include fade-in(slide-in, 1s, ease-in, 1)
    @include keyframes(slide-in)
        0%
            transform: translateX(-10rem)
            opacity: 0
        100%
            transform: translateX(0)
            opacity: 1

.fade-left-1-5s
    @include fade-in(slide-in, 1.5s, ease-in, 1)
    @include keyframes(slide-in)
        0%
            transform: translateX(-10rem)
            opacity: 0
        100%
            transform: translateX(0)
            opacity: 1