.carousel-div
    position: relative
    clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 100%, 5% 100%, 0 95%)
    @include header-carousel-hv
    
.shop-link
    position: absolute
    z-index: 10
    top: 65%
    left: calc(50% - 8.0765rem)

.shop-btn
    @include buttons
    
.about
    @include font-oswald
    padding: 3% 5%
    @include flex-column
    @include centerVerticalAndHorizonal

.about-info-pic
    display: flex
    justify-content: space-evenly
    align-items: center
    padding-bottom: 3%

.about-info
    @include flex-column
    @include centerVerticalAndHorizonal
    margin-right: 2rem

.about-title
    @include navbar-gradient
    @include titleSizeAndClip
    font-size: 5rem
    text-transform: uppercase
    padding-bottom: 2rem

.about-p
    color: white
    font-size: 3rem
    padding-bottom: 3rem

.about-img
    width: 40%
    clip-path: polygon(12.5% 0, 100% 0, 100% 90%, 87.5% 100%, 0 100%, 0 10%)