.cart-item
  display: flex
  align-items: center
  // clip-path: polygon(5% 0, 100% 0, 100% 80%, 5% 100%, 0 100%, 0 20%)
  @include font-oswald
  width: 100%

.cart-item:not(:last-of-type)
  margin-bottom: 2rem

.ri-delete-bin-line, .ri-delete-bin-fill
  font-size: 5rem
  cursor: pointer
  @include navbar-gradient
  @include titleSizeAndClip
  margin-right: 5rem

.cart-img
  width: 20rem
  margin-right: auto

.cart-item-price
  padding: 0 2rem
  font-size: 2rem
  @include navbar-gradient
  @include titleSizeAndClip