.modal
  display: flex
  justify-content: center

.modal-shadow
  height: 100%
  width: 100%
  position: fixed
  top: 0
  background-color: black
  opacity: 0.7
  z-index: 50

.modal-product
  z-index: 60
  position: fixed
  background-color: white
  height: 100vh
  width: 90%
  clip-path: polygon(12.5% 0, 100% 0, 100% 90%, 87.5% 100%, 0 100%, 0 10%)
  overflow: scroll
  padding: 0 3%
  @include font-oswald
  display: flex
  flex-direction: column

.modal-header
  width: 100%
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr))
  grid-template-rows: min-content

  @include responsive(xlarge)
    height: 75vh

  @include responsive(xxlarge)
    height: 85vh

.modal-carousel
  height: 60vh
  margin-bottom: 2rem

  @include responsive(xlarge)
    height: 75vh
  
  @include responsive(xxlarge)
    height: 85vh

.modal-desc
  font-size: 1.6rem
  height: 100%
  padding: 0 2%

  @include flex-column
  justify-content: space-evenly

.inventory-cart
  margin-top: 2rem
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-wrap: wrap

  @include responsive(small)
    margin-top: 1rem

.modal-details
  padding: 2rem 0 5rem
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
  grid-gap: 5rem

.modal-details-img
  width: 100%

.modal-details-small
  // grid-column: span 1
  // min-width: 25rem

.modal-details-wide
  // grid-column: span 3
  // width: 100%
  min-width: 25rem

  @media (min-width: 655px)
    grid-column: span 2

  @media (min-width: 1012px)
    grid-column: span 3

  @media (min-width: 1370px)
    grid-column: span 4

  @media (min-width: 1726px)
    grid-column: span 5

  @media (min-width: 2084px)
    grid-column: span 6

.modal-details-big
  grid-row: span 2
  @media (min-width: 655px)
    grid-column: span 2
    margin-bottom: 7.5rem

  @media (min-width: 1012px)
    grid-column: span 3
    margin-bottom: 0

  @media (min-width: 1370px)
    grid-column: span 4

  @media (min-width: 1726px)
    grid-column: span 5

  @media (min-width: 2084px)
    grid-column: span 6

.modal-details-big img
  height: 90%

.fill-height
  height: 100%

.modal-details-desc
  font-size: 1.6rem
  padding-top: 1rem