.modal
  display: flex
  justify-content: center

.modal-shadow
  height: 100%
  width: 100%
  position: fixed
  top: 0
  background-color: black
  opacity: 0.7
  z-index: 50

.modal-product
  z-index: 60
  position: fixed
  background-color: white
  height: 100vh
  width: 60%
  clip-path: polygon(12.5% 0, 100% 0, 100% 90%, 87.5% 100%, 0 100%, 0 10%)
  overflow: scroll
  padding: 2% 2% 0
  @include font-oswald

.modal-header
  height: 90%
  display: flex

.modal-img
  height: 100%
  width: 50%

.modal-desc
  font-size: 2rem
  height: 100%
  padding: 0 2%
  // @include navbar-gradient
  // @include titleSizeAndClip

  @include flex-column
  justify-content: space-evenly

.modal-details
  padding-top: 2%
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
  grid-auto-rows: 45vh
  grid-gap: 5rem
  // grid-auto-flow: dense

.modal-details-small
  grid-column: span 1

.modal-details-wide
  grid-column: span 3

.modal-details-big
  grid-column: span 3
  grid-row: span 2

.modal-details-desc
  font-size: 1.6rem
  padding-top: 1rem