.footer
    @include font-oswald
    padding: 0 10% 2%
    display: flex
    justify-content: space-evenly
    
.footer-titles
    @include navbar-gradient
    @include titleSizeAndClip
    font-size: 3rem
    text-transform: uppercase

.footer-p
    color: white
    font-size: 2rem