*,
*::after,
*::before 
    margin: 0
    padding: 0
    box-sizing: inherit

html
    box-sizing: border-box
    font-size: 62.5%

    @media (min-width: 3500px)
        font-size: 187.5%

body
    width: 100%
    @include background

a:link, a:visited, a:hover, a:active
    text-decoration: none

.container
    min-height: 100vh
    width: 100%
    display: flex
    flex-direction: column